__pycache__/
.DS_Store
.eggs/
.env
.env.*.local
.env.local
.github/
.idea/
.project
.pydevproject
.pytest_cache/
.Python
.settings/
.venv
.vs/
.vscode/
*.egg
*.egg-info/
*.key
*.log
*.manifest
*.pem
*.py[cod]
*.so
*.spec
*.swo
*.swp
**/checkpoint-*/
**/distilbert_*/
*~
*$py.class
*Certificate.ps1
bin/
build/
certificates/
certs/
checkpoints/
Desktop.ini
dist/
docker-compose.override.yml
env/
ENV/
logs/
obj/
output/
secrets/
Thumbs.db
training/**/data/
venv/