__pycache__/
.DS_Store
.eggs/
.github/
.idea/
.project
.pydevproject
.pytest_cache/
.Python
.settings/
.venv
.vs/
.vscode/
*.egg
*.egg-info/
*.key
*.log
*.manifest
*.pem
*.py[cod]
*.so
*.spec
*.swo
*.swp
*.zip
**/checkpoint-*/
**/distilbert_*/
*~
*$py.class
*Certificate.ps1
bin/
build/
certificates/
certs/
checkpoints/
datasets/
Desktop.ini
dist/
docker-compose.override.yml
env/
ENV/
generate_knowledge.py
logs/
obj/
output/
processed/
publish-selfcontained/
publish/
raw/
secrets/
Thumbs.db
training/**/data/
training/models/
training/logs/
training/datasets/raw/
training/datasets/processed/
training/datasets/__pycache__/
unsloth_compiled_cache/
venv/
publish-linux/
